LDAK_practice/basic_gwas/basic_gwas_result.txt.score
LDAK_practice/basic_gwas/basic_gwas_result.txt.summaries
LDAK_practice/basic_gwas/basic_gwas_result.txt.assoc
LDAK_practice/prs_practice/prs_bolt_height.val.best.effects
LDAK_practice/prs_practice/cors.cors.bin
LDAK_practice/prs_practice/prs_bolt_height.probs
LDAK_practice/prs_practice/cors.cors.bim
LDAK_practice/prs_practice/prs_ridge_height.probs
LDAK_practice/prs_practice/prs_ridge_height.effects
LDAK_practice/prs_practice/prs_bolt_height.effects
LDAK_practice/prs_practice/prs_ridge_height.val.best.effects
LDAK_practice/gwas_kinship/basic_gwas_result.txt.summaries
LDAK_practice/gwas_kinship/basic_gwas_result.txt.score
LDAK_practice/gwas_kinship/basic_gwas_result.txt.assoc
LDAK_practice/prs_practice/cors.cors.bin
./LDAK_practice/basic_gwas/basic_gwas_result.txt.score
./LDAK_practice/basic_gwas/basic_gwas_result.txt.summaries
./LDAK_practice/basic_gwas/basic_gwas_result.txt.assoc
./LDAK_practice/prs_practice/prs_bolt_height.val.best.effects
./LDAK_practice/prs_practice/cors.cors.bin
./LDAK_practice/prs_practice/prs_bolt_height.probs
./LDAK_practice/prs_practice/cors.cors.bim
./LDAK_practice/prs_practice/prs_ridge_height.probs
./LDAK_practice/prs_practice/prs_ridge_height.effects
./LDAK_practice/prs_practice/prs_bolt_height.effects
./LDAK_practice/prs_practice/prs_ridge_height.val.best.effects
./LDAK_practice/gwas_kinship/basic_gwas_result.txt.summaries
./LDAK_practice/gwas_kinship/basic_gwas_result.txt.score
./LDAK_practice/gwas_kinship/basic_gwas_result.txt.assoc
